<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quick Demo For GT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>794072F41BC3931E003B0150</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>794073081BC3931E003B0150</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>794073131BC3931E003B0150</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
